# Ignore runtime logs and remote backups created by bootstrap/finalize
/logs/
/remote-backups/
setup-debug.log
.DS_Store
# editor / IDE
.vscode/
*.swpvenv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.env
.vscode/
.DS_Store
# Auto-ignore env per-device
.env.pi-*
